<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="NEWCIGAS.My.MySettings.Database1ConnectionString" connectionString="Data Source=|DataDirectory|\CIGAS.sdf" providerName="Microsoft.SqlServerCe.Client.3.5"/>
        <add name="NEWCIGAS.My.MySettings.CIGASConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\CIGAS.mdf;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0"/>
  </startup>
</configuration>
